[Desktop Entry]
Comment=
Exec=
GenericName=
Icon=dialog-scripts
MimeType=
Name=setup.sh
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=
